h1 {
  font-family: Brandon Grotesque !important;
  text-align: center;
  color: #fc0505;
  text-transform: uppercase;
}


.card {
  cursor:pointer;
}
.active-pink input.form-control[type=text] {
  border-bottom: 1px solid #fc0505;
  box-shadow: 0 1px 0 0 #ff0303;
}

.btn {
  background-color: #fc0505;
  color: white;
}

.badge {
  margin-right: 5px;
}

td .text-danger, td .text-success {
  cursor: pointer;
}

.card-deck {
  margin-bottom: 3em;
}