/* You can add global styles to this file, and also import other style files */


.btn-had {
  color: #fff !important;
  background-color: #5da316 !important;
  border-color: #3d6d12 !important;
}

.btn-link-had {
  font-weight: 400;
  color: #5da316 !important;
  text-decoration: none;
}
